html {
	background-image: linear-gradient(#BC8F8F, #FFF8DC);
	margin: 5px; padding:25px;
	border: solid; border-radius: 25px;
}


img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-style: double; border-width: 5px;
}

h1 {
	text-align: center;
	text-decoration: blink;
	text-shadow: 4px 4px #625750; text-decoration-color: white;
	font-family: Impact, Charcoal, sans-serif; font-size: 70px; 
}

h2 {
	text-align: center;
	text-decoration: blink;
	
	font-family: "Times New Roman", Times, serif; font-size: 35px; 
}

body {
	background-color: f4e1d2,white;
	text-decoration-color: white;
	font-family: "Courier New", Courier, monospace; font-size: 25px;

	border: 10px solid transparent;
  	padding: 15px;

  	margin:50px 0px;
    text-align:center;
    align:center;
	
}

fieldset {

	font-size:20px;
	
}

table {

	font-size:20px;
	
}
button {
	background-color: rgb(110, 101, 128); 
  border: dashed;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 5px 5px beige;
  font-size: 16px;  font-family: "Lucida Console", Monaco, monospace;
}